@media (max-width:1200px){
    /* our services */
    .res-services-img{
        height: 180rem;
    }
}

@media (max-width:992px){
    /* Header */
    .res-justify{
        justify-content: start !important;
    }
    /* about us sec */
    .about-box{
        z-index: 0;
        left: 0%;
        top: 0%;
        position: inherit;
    }

        .res-about-img{
            margin-left: 0%;
    }

    /* our services */
    .res-services-img{
        height: 165rem;
    }

    .card{
        width: 100%;
    }

    /* meet clients */
    .client-test img{
        display: none;
    }

    .tes{
        margin-left: 0 !important;
    }
}

@media (max-width:768px){
    /* about us sec */
    .about-box{
        z-index: 0;
        left: 0%;
        top: 0%;
        position: inherit;
    }

        .res-about-img{
            margin-left: 0%;
    }

    /* our services */
    .res-services-img{
        height: 165rem;
    }

    .card{
        width: 100%;
    }

    /* Our Pricing */
    .w-fit{
        width: max-content;
    }

    /* meet clients */
    .client-test img{
        display: none;
    }

    .tes{
        margin-left: 0 !important;
    }
}


@media (max-width:576px){
    /* Header */
    .res-justify{
        justify-content: start !important;
    }

    /* about us sec */
    .about-box{
        z-index: 0;
        left: 0%;
        top: 0%;
        position: inherit;
    }

    .res-about-img{
        margin-left: 0%;
    }

    /* our services */
    .res-services-img{
        height: 165rem;
    }

    .card{
        width: 100%;
    }

    /* Our Pricing */
    .w-fit{
        width: max-content;
    }

    /* meet clients */
    .client-test img{
        display: none;
    }

    .tes{
        margin-left: 0 !important;
    }
}



